.main-container {
  background-color: #fafafa;
}

.long-logo {
	position: relative;
	width: 100%;
}

.recipe {
	position: absolute;
	top: 20px;
	left: 50px;
	width: 100%;
	color: #fff;
}

.ingredient {
	font-size: 18px;
}

/*.dropdown:hover > .dropdown-menu { 
  display: block; 
}*/



/*Медиа свойства для эффектов картинок - Media properties for image effects*/

@media screen and (min-width: 992px) {

  img.color-effect  {
    opacity: 0.9;
   
     /*Glow*/
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);

    /*scale*/
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
   
  img.color-effect:hover {  
     opacity: 1;
   
      /*Transition*/
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;

      /*saturation*/
      -webkit-filter: saturate(1.2);

      /*scale*/
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
  }

}